In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
## Importing Data set ords_prior
df_ords_prior = pd.read_csv(r'/Users/javieraquezada/Desktop/05-2025 Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv',index_col = False)

In [3]:
##Creating Path
path = r'/Users/javieraquezada/Desktop/05-2025 Instacart Basket Analysis'

In [9]:
## Checking the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
## Importing ords data set
##Importing orders_clean.csv from Prepared Data
df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)

In [10]:
## Checking the output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [12]:
# shape
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 7)

In [15]:
## Merging new dataframe "ords_prior" to "ords"
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
## Checking the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
## Counting all the values in the _merge column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
### Task

In [21]:
#Step 2. Exporting the merged file in picke format as order_products_combined
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [23]:
##Step 4. Checking shape of exported dataframe to mach Imported dataframe of notebook Task 4.6(2)
df_merged_large.shape

(32434489, 11)