In [1]:
## Step.3
## Importing Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
## Importing Data set ords_prods_merge
customer = pd.read_csv(r'/Users/javieraquezada/Desktop/05-2025 Instacart Basket Analysis/02 Data/Original Data/customers.csv')

In [5]:
##Creating Path
path = r'/Users/javieraquezada/Desktop/05-2025 Instacart Basket Analysis'

In [6]:
## Step 4. Wrangling Data 
##Consistency Check
customer.shape

(206209, 10)

In [7]:
customer.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
## Searching for missing observations
customer.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [10]:
## Creating a dataframe to see the missing values, containing only those values within the product First Name column that
##meet the condition
df_nan = customer[customer['First Name'].isnull() == True]

In [11]:
df_nan

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
53,76659,NaN,Gilbert,Male,Colorado,26,1/1/2017,2,married,41709
73,13738,NaN,Frost,Female,Louisiana,39,1/1/2017,0,single,82518
82,89996,NaN,Dawson,Female,Oregon,52,1/1/2017,3,married,117099
99,96166,NaN,Oconnor,Male,Oklahoma,51,1/1/2017,1,married,155673
105,29778,NaN,Dawson,Female,Utah,63,1/1/2017,3,married,151819
...,...,...,...,...,...,...,...,...,...,...
206038,121317,NaN,Melton,Male,Pennsylvania,28,3/31/2020,3,married,87783
206044,200799,NaN,Copeland,Female,Hawaii,52,4/1/2020,2,married,108488
206090,167394,NaN,Frost,Female,Hawaii,61,4/1/2020,1,married,45275
206162,187532,NaN,Floyd,Female,California,39,4/1/2020,0,single,56325
206171,116898,NaN,Delgado,Female,Colorado,23,4/1/2020,2,married,59222

In [12]:
## There are 11259 values from 206209 rows that are missing from First Name column

In [19]:
## finding duplicates 
df_dups = customer[customer.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

In [21]:
## No duplicates found.

In [22]:
#Step 3 Cheking for mixed-type data
for col in customer.columns.tolist():
    weird = (customer[[col]].map(type) != customer[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (customer[weird])> 0:
        print(col)

First Name

In [23]:
## Counting values mixed-type data 
customer['First Name'].apply(type).value_counts()

First Name
<class 'str'>      194950
<class 'float'>     11259
Name: count, dtype: int64

In [24]:
## Normalizing mixed-type column
customer['First Name'] = customer['First Name'].apply(lambda x: str(x) if pd.notnull(x) else x)

In [25]:
## Checking
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [27]:
## Checking and fixing typo error
customer.rename(columns={'Surnam': 'surname'}, inplace=True)

In [28]:
customer.rename(columns={'First Name': 'first_name'}, inplace=True)

In [29]:
customer.rename(columns={'STATE': 'state'}, inplace=True)

In [30]:
customer.rename(columns={'Age': 'age'}, inplace=True)

In [31]:
customer.rename(columns={'Gender': 'gender'}, inplace=True)

In [32]:
## Checking
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   Surname       206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [33]:
##Change Data Type user_id due to no need of these as values
customer['user_id'] = customer['user_id'].astype(str)

In [34]:
customer.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

In [35]:
## Changuing Data Type of Date 
customer['date_joined'] = pd.to_datetime(customer['date_joined'], errors='coerce')

In [36]:
customer['date_joined'].dtype

dtype('<M8[ns]')

In [38]:
customer['date_joined'].head(100)

0    2017-01-01
1    2017-01-01
2    2017-01-01
3    2017-01-01
4    2017-01-01
        ...
95   2017-01-01
96   2017-01-01
97   2017-01-01
98   2017-01-01
99   2017-01-01
Name: date_joined, Length: 100, dtype: datetime64[ns]

In [39]:
## Counting values mixed-type data 
customer['date_joined'].apply(type).value_counts()

date_joined
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    206209
Name: count, dtype: int64

In [41]:
## Count of values
customer['date_joined'].value_counts().sort_index()

date_joined
2017-01-01    159
2017-01-02    154
2017-01-03    169
2017-01-04    188
2017-01-05    177
             ...
2020-03-28    197
2020-03-29    171
2020-03-30    165
2020-03-31    149
2020-04-01    169
Name: count, Length: 1187, dtype: int64

In [43]:
## Exporting DataFrame
customer.to_csv(os.path.join(path, '02 Data','Prepared Data', 'customer.csv'))

In [45]:
## Importing Data set ords_prods_merge
ords_prods = pd.read_pickle(r'/Users/javieraquezada/Desktop/05-2025 Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge_new_variables3.pkl')

In [46]:
# Verifying key
print(customer.columns)
print(ords_prods.columns)

Index(['user_id', 'first_name', 'Surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')
Index(['Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days', 'busiests_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price_order', 'mean_prices', 'spending_flag',
       'median_days_since_prior_order', 'order_frequency_flag'],
      dtype='object')

In [47]:
## Checking and fixing typo error
customer.rename(columns={'Surname': 'surname'}, inplace=True)

In [48]:
# Verifying key
print(customer.columns)
print(ords_prods.columns)

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')
Index(['Unnamed: 0_x', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'Unnamed: 0_y', 'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_days', 'busiests_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price_order', 'mean_prices', 'spending_flag',
       'median_days_since_prior_order', 'order_frequency_flag'],
      dtype='object')

In [49]:
## merging data sets in user_id
df_merged = pd.merge(ords_prods, customer, on='user_id', how='left')

ValueError: You are trying to merge on int64 and object columns for key 'user_id'. If you wish to proceed you should use pd.concat

In [50]:
## Checking for null values
customer['user_id'].isnull().sum()
ords_prods['user_id'].isnull().sum()

0

In [51]:
## Changing data type to match in key
customer['user_id'] = customer['user_id'].astype(int)
ords_prods['user_id'] = ords_prods['user_id'].astype(int)

In [59]:
## Checking
print(customer.dtypes)

user_id                  int64
first_name              object
surname                 object
gender                  object
state                   object
age                      int64
date_joined     datetime64[ns]
n_dependants             int64
fam_status              object
income                   int64
dtype: object

In [57]:
print(ords_prods.dtypes)

Unnamed: 0_x                        int64
order_id                            int64
user_id                             int64
order_number                        int64
orders_day_of_week                  int64
order_hour_of_day                   int64
days_since_prior_order            float64
product_id                          int64
add_to_cart_order                   int64
reordered                           int64
_merge                           category
Unnamed: 0_y                      float64
product_name                       object
aisle_id                          float64
department_id                     float64
prices                            float64
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiests_days                      object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
mean_price_order                  float64
mean_prices                       float64
spending_flag                      object
median_days_since_prior_order     float64
order_frequency_flag               object
dtype: object

In [61]:
## Attempt 2 merging data sets in user_id
df_merged = pd.merge(ords_prods, customer, on='user_id', how='left')

In [63]:
## Consistency Checks
df_merged.shape

(31987181, 37)

In [64]:
## Checking for duplicates
df_merged.duplicated().sum()

0

In [65]:
## Checking for null values
df_merged.isnull().sum()

Unnamed: 0_x                           0
order_id                               0
user_id                                0
order_number                           0
orders_day_of_week                     0
order_hour_of_day                      0
days_since_prior_order           2048263
product_id                             0
add_to_cart_order                      0
reordered                              0
_merge                                 0
Unnamed: 0_y                           0
product_name                           0
aisle_id                               0
department_id                          0
prices                                 0
price_range_loc                        0
busiest_day                            0
busiest_days                           0
busiests_days                          0
busiest_period_of_day                  0
max_order                              0
loyalty_flag                           0
mean_price_order                       0
mean_prices                            0
spending_flag                          0
median_days_since_prior_order          6
order_frequency_flag                   6
first_name                       1752906
surname                                0
gender                                 0
state                                  0
age                                    0
date_joined                            0
n_dependants                           0
fam_status                             0
income                                 0
dtype: int64

In [66]:
## Checking for missing values in column
df_merged[df_merged['median_days_since_prior_order'].isnull()]

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,order_frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
24832518,2655584,895835,159838,1,0,17,NaN,22198,1,0,...,NaN,Jason,Nava,Male,Arkansas,63,2018-11-09,3,married,140994
24832519,2655584,895835,159838,1,0,17,NaN,23695,2,0,...,NaN,Jason,Nava,Male,Arkansas,63,2018-11-09,3,married,140994
24832520,2655584,895835,159838,1,0,17,NaN,10749,3,0,...,NaN,Jason,Nava,Male,Arkansas,63,2018-11-09,3,married,140994
24832521,2655584,895835,159838,1,0,17,NaN,21334,5,0,...,NaN,Jason,Nava,Male,Arkansas,63,2018-11-09,3,married,140994
24832522,2655584,895835,159838,1,0,17,NaN,33401,6,0,...,NaN,Jason,Nava,Male,Arkansas,63,2018-11-09,3,married,140994
26215001,2801826,824952,169017,1,5,13,NaN,49621,1,0,...,NaN,Marie,Medrano,Female,Arizona,26,2017-06-01,1,married,78169

In [68]:
##checking for Unnamed columns
print(df_merged[['Unnamed: 0_x', 'Unnamed: 0_y']].head())

   Unnamed: 0_x  Unnamed: 0_y
0             0         195.0
1             0       14084.0
2             0       12427.0
3             0       26089.0
4             0       26406.0

In [71]:
## Checking for duplicated similar columns
df_merged[df_merged['busiest_days'] != df_merged['busiests_days']][['busiest_days', 'busiests_days']]

         busiest_days  busiests_days
5          Least busy   Slowest days
6          Least busy   Slowest days
7          Least busy   Slowest days
8          Least busy   Slowest days
9          Least busy   Slowest days
...               ...            ...
31987176  Busiest day  Busiests days
31987177  Busiest day  Busiests days
31987178  Busiest day  Busiests days
31987179  Busiest day  Busiests days
31987180  Busiest day  Busiests days

[19238737 rows x 2 columns]

In [73]:
print(df_merged['busiest_day'].unique())
print(df_merged['busiest_days'].unique())
print(df_merged['busiests_days'].unique())

['Regularly busy' 'Least busy' 'Busiest day']
['Regularly busy' 'Least busy' 'Busiest day']
['Regularly busy' 'Slowest days' 'Busiests days']

In [76]:
##Creating a new dataframe
df = df_merged.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y','busiest_days'])

In [79]:
## Consistency Checks 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31987181 entries, 0 to 31987180
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int64
 1   user_id                        int64
 2   order_number                   int64
 3   orders_day_of_week             int64
 4   order_hour_of_day              int64
 5   days_since_prior_order         float64
 6   product_id                     int64
 7   add_to_cart_order              int64
 8   reordered                      int64
 9   _merge                         category
 10  product_name                   object
 11  aisle_id                       float64
 12  department_id                  float64
 13  prices                         float64
 14  price_range_loc                object
 15  busiest_day                    object
 16  busiests_days                  object
 17  busiest_period_of_day          object
 18  max_order                      int64
 19  loyalty_flag                   object
 20  mean_price_order               float64
 21  mean_prices                    float64
 22  spending_flag                  object
 23  median_days_since_prior_order  float64
 24  order_frequency_flag           object
 25  first_name                     object
 26  surname                        object
 27  gender                         object
 28  state                          object
 29  age                            int64
 30  date_joined                    datetime64[ns]
 31  n_dependants                   int64
 32  fam_status                     object
 33  income                         int64
dtypes: category(1), datetime64[ns](1), float64(7), int64(12), object(13)
memory usage: 7.9+ GB

In [80]:
df.shape

(31987181, 34)

In [77]:
## Exporting DataFrame
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_dataset.pkl'))